<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>History</title>
    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    {% load static %}
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">Plan Princeton</a>
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="plan.html">Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="sampleschedules.html">Sample Schedules</a>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/his.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>HIS </h1>
              <h2 class="subheading">History</h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            <h2 class="section-heading">Prerequisites for Departmental Concentration</h2>

            <p>two HIS courses, including one of the following: 
              201, 207, 208, 210, 211, 212, 241, 267, 277, 278, 280, 281, 282, 290, 291, 292.

              HUM 216-217 or 2l8-219 can replace one of these particular 200 level prerequisites but will not count as a departmental course.         
            </p>

            <h2 class="section-heading">Example Schedules </h2>

            <p>Explore the schedules of real students below </p>

            <a href="#">
              <img class="img-fluid" src="img/com_anna.png" alt="">
            </a>
            <span class="caption text-muted">Example Schedule</span>

            <h2 class="section-heading">Still curious? </h2>

          <p>Check out the undergraduate announcement and the department website for more information about:
              <ul>
        <li>Faculty</li>
        <li>Program Information</li>
        <li>Courses </li> 
        <li>Major Declaration + Requirements </li>         

      </ul>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" 
          href="https://ua.princeton.edu/academic-units/department-history">
        Program Info</a>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" 
          href="https://history.princeton.edu">
        Department page</a>

          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
            <div class="copyright">
                <p>Made with Love at Princeton</p>
                <p>&copy; Plan Princeton 2018</p>
            </div>
        </div>
    </footer>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
