<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {{ des }}
    <title>Plan Princeton</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    {% load static %}
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Plan Princeton</a>
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="plan.html">Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="sampleschedules">Sample Schedules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Get Involved</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To</div>
          <div class="intro-heading text-uppercase">PLAN PRINCETON</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="scheduler">Interactive Scheduler</a>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="sampleschedules">View All Samples</a>
        </div>
      </div>
    </header>

    <!-- Services / ABOUT -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">

            <h1>Hi {{ netid }} </h1>
            <h2 class="section-heading text-uppercase">What We Do</h2>
            <h3 class="section-subheading text-muted"> We help students plan out the classes they want to take over the course of their career to satisfy their potential majors and certificates.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-columns fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading" > 2 Year Plan</h4>
            <p>BSE declare concentrations Freshman Spring and AB declare concentrations Sophomore Spring. See what classes you should take to get on the right track to declaring a major.</p>
            <a class="btn btn-primary btn-xl links" href = "2year.html" target="_blank">Start a 2 Year Plan</a>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-table fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">4 Year Plan</h4>
            <p>Every department has specific pre-requisites, tracks, and research requirements. See where you stand and plan to fulfill your requirements. </p>
            <a class="btn btn-primary btn-xl links" href = "4year.html" target="_blank">Start a 4 Year Plan</a>            
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-info fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Sample Schedules</h4>
            <p> Princeton offers 36 concentrations and 53 certificates. With Plan Princeton you can parallel plan and view sample schedules by filtering concentration and certificate.</p>
            <a class="btn btn-primary btn-xl links" href = sampleschedules target="_blank">View Sample Schedules</a>            
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid/ SAMPLES -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Sample Schedules</h2>
            <h3 class="section-subheading text-muted">Don't know where to start? Check out our sample 4-year schedules below.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              {% load static %}
              <img src="{% static 'img/portfolio/com.jpg' %}" width="350" height="250">
            </a>
            <div class="portfolio-caption">
              <h4>COM</h4>
              <p class="text-muted">Department of Comparative Literature</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              {% load static %}
              <img src="{% static 'img/portfolio/cos.jpg' %}" width="350" height="250">
            </a>
            <div class="portfolio-caption">
              <h4>COS</h4>
              <p class="text-muted">Department of Computer Science</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              {% load static %}
              <img src="{% static 'img/portfolio/mol.jpg' %}" width="350" height="250">
            </a>
            <div class="portfolio-caption">
              <h4>MOL</h4>
              <p class="text-muted">Department of Molecular Biology</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              {% load static %}
              <img src="{% static 'img/portfolio/nes.jpg' %}" width="350" height="250">
            </a>
            <div class="portfolio-caption">
              <h4>NES</h4>
              <p class="text-muted">Department of Near East Studies</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              {% load static %}
              <img src="{% static 'img/portfolio/orf.jpg' %}" width="350" height="250">
            </a>
            <div class="portfolio-caption">
              <h4>ORF</h4>
              <p class="text-muted">Department of Operation Research and Financial Engineering</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              {% load static %}
              <img src="{% static 'img/portfolio/wws.jpg' %}" width="350" height="250">
            </a>
            <div class="portfolio-caption">
              <h4>WWS</h4>
              <p class="text-muted">The Woodrow Wilson School of Public and International Affairs</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Team</h2>
            <h3 class="section-subheading text-muted">Meet the people behind Plan Princeton.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="team-member">
              {% load static %}
              <img class="mx-auto rounded-circle" src="{% static 'img/team/1.jpg' %}" alt="">
              <h4>Ayushi Sinha</h4>
              <p class="text-muted">Front End Design</p>
              <p id="team-member-about" class="text-left text-muted" > Class of 2020 <br/> B.S.E. Computer Science <br/> Entrepreneurship, Statistics and Machine Learning </p>
            </div>
          </div>
          <div class="col">
            <div class="team-member">
              {% load static %}
              <img class="mx-auto rounded-circle" src="{% static 'img/team/2.jpg' %}" alt="">
              <h4>Jiayang (Jay) Li </h4>
              <p class="text-muted">Front End Design</p>
              <p id="team-member-about" class="text-left text-muted" > Class of 2019 <br/> B.S.E. Computer Science <br/> Finance, Technology and Society </p>
            </div>
          </div>
          <div class="col">
            <div class="team-member">
              {% load static %}
              <img class="mx-auto rounded-circle" src="{% static 'img/team/3.jpg' %}" alt="">
              <h4>Sally Lemkemeier </h4>
              <p class="text-muted">Back End Design</p>
              <p id="team-member-about" class="text-left text-muted" > Class of 2019 <br/> A.B. Computer Science </p>
            </div>
          </div>
          <div class="col">
            <div class="team-member">
              {% load static %}
              <img class="mx-auto rounded-circle" src="{% static 'img/team/4.jpg' %}" alt="">
              <h4>Juliet Oh</h4>
              <p class="text-muted">Back End Design</p>
              <p id="team-member-about" class="text-left text-muted" > Class of 2020 <br/> A.B. Computer Science </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted"></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2 class="section-heading text-uppercase">Get Involved</h2>
            <h3 class="section-subheading text-muted">What has your Princeton Plan been like? We would love your input! Share your schedule with us to be featured. <br/> It takes three simple steps:</h3>
          </div>
          <div style="display:inline-block;margin:10px auto;">
            <ol>
                <li>Open this sample schedule </li>
                <a href = "https://docs.google.com/presentation/d/1JOizlKAys_Jt1nK6qWj7JLs8F8aJTg-cOunOpsIUxbM/edit?usp=sharing" target="_blank">Click to Open Document</a>
                <li>Fill in your 4 year plan</li>
                <li>Email your 4 year plan as a .jpg or .jpeg or .png to ayushis@princeton.edu</li>
              </ol>
        </div>
      </div>
    </section>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">COM</h2>
                  <p class="item-intro text-muted">A.B. Comparative Literature</p>
                  {% load static %}
                  <img class="d-block mx-auto" src="{% static 'img/portfolio/com_anna.png' %}" alt="">
                  <p>Meet Anna: A native Luxembourgian pursuing a concentration in Comparative Literature and certificates in Teacher Preparation and Creative Writing</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Schedule</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">COS</h2>
                  <p class="item-intro text-muted">B.S.E. Computer Science</p>
                  {% load static %}
                  <img class="d-block mx-auto" src="{% static 'img/portfolio/cos_jay.png' %}" alt="">
                  <p>Meet Jay: A marathon runner pursuing a concentration in Computer Science and certificates in Finance and Technology and Society</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Schedule</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">MOL</h2>
                  <p class="item-intro text-muted">A.B. Molecular Biology</p>
                  {% load static %}
                  <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/mol_lillian.jpg' %}" alt="">
                  <p>Meet Lillian: A passionate researcher pursuing a concentration in Molecular Biology and certificates in Quantitative and Computational Biology and Engineering Biology</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Schedule</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">NES</h2>
                  <p class="item-intro text-muted">A.B. Near Eastern Studies</p>
                  {% load static %}
                  <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/nes_melita.jpeg' %}" alt="">
                  <p>Meet Melita: A world traveler pursuing a concentration in Near Eastern Studies and a certificate Chinese Language</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Schedule</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">ORF</h2>
                  <p class="item-intro text-muted">B.S.E. Operations Research and Financial Engineering</p>
                  {% load static %}
                  <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/orf_kat.jpeg' %}" alt="">
                  <p>Meet Kat: A future entrepreneur pursuing a concentration in Operations Research and Financial Engineering and certificates in Applications of Computer and Statistics and Machine Learning</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Schedule</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">WWS</h2>
                  <p class="item-intro text-muted">A.B. Woodrow Wilson School</p>
                  {% load static %}
                  <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/wws_mabel.jpeg' %}" alt="">
                  <p>Meet Mabel: A women's rights advocate pursuing a concentration in the Woodrow Wilson School and certificates in Applications of Computer and Finance</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Schedule</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    {% load static %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    {% load static %}
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    {% load static %}
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    {% load static %}
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    {% load static %}
    <script src="{% static 'js/agency.min.js' %}"></script>

  </body>

</html>
