<html>
  <head>

  </head>

  <body>
    <h1> Plan Princeton </h1>
    <h2>Team Members</h2>
      <ul>
        <li>Ayushi Sinha: ayushis@princeton.edu</li>
        <li>Jay Li: jiayang@princeton.edu</li>
        <li>Sally Lemkemeier : sallyl@princeton.edu </li> 
        <li>Juliet Oh : jjoh@princeton.edu</li>
      </ul>
    <h2>Design Doc </h2>
    <a href = "designDoc.pdf" target="_blank">Click to Open Document</a>
    <h2>Elevator Pitch</h2>
      <p> Remember when you were a wide-eyed freshman bewildered about all the academic opportunities Princeton had to offer? We do to. Enter Plan Princeton, a web application where students can plan out courses they’d like to take during their Princeton career.  Our goal is two fold: One, to help students of all years explore their wide range of academic interests and the potential courses that they would need to fulfill these interests. Two, to assist residential colleges’ Peer Academic Advisors (PAAs) and students’ department-assigned faculty advisors in giving advice to first and second year undergraduates.

      Plan Princeton allows students to visualize potential course schedules that will fulfill their concentrations and certificates. So rather than scouring multiple departments websites looking for prerequisites and departmentals, students can find all of this information consolidated onto one single webpage. Now, with this application, students can create their individualized Princeton road maps to guide their own paths to graduation. </p>

    <h2>Milestones </h2>
      <ul>
        <li>Saturday 17 March: If we do not hear back from the departments about partnering for this assignment by this date, then we will either scrape the data or collect manually. Design document submitted. Back-end architecture decided (Language, how to collect and store data).Plan for front-end design complete. Front-end architecture decided </li>
        <li>Sunday 25 March: Have database of classes and requirements complete (either by scraping or manually for department requirements). Have front-end design of website completed</li>
        <li>Friday 13 April : Have working version of app at least for one department </li>
        <li>Friday 20 April : Have second department and third department working</li>
        <li>Friday 27 April : Solicit feedback, bug reports, and advice from alpha testers. Add at least top 5 largest departments. Demo to PAAs and Academic Advisors</li>
        <li>Sunday 13 May : Make final changes based on suggestions of feedback</li>
      </ul>

  </body>