<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sample Schedules</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    {% load static %}
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="scheduler">Interactive Scheduler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sampleschedules">Sample Schedules</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    {% load static %}
    <header class="masthead" style="static 'background-image: url('img/nassau1.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Sample Schedules</h1>
              <span class="subheading">Explore our sample 4-year schedules below </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <div class="post-preview">
            <a href="aas">
              <h2 class="post-title">
                AAS
              </h2>
              <h3 class="post-subtitle">
                African American Studies
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="ant">
              <h2 class="post-title">
                ANT
              </h2>
              <h3 class="post-subtitle">
                Anthropology
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="arc">
              <h2 class="post-title">
                ARC
              </h2>
              <h3 class="post-subtitle">
                Architecture
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="art">
              <h2 class="post-title">
                ART
              </h2>
              <h3 class="post-subtitle">
                Art and Archaeology
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="ast">
              <h2 class="post-title">
                AST
              </h2>
              <h3 class="post-subtitle">
                Astrophysical Sciences
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="cbe">
              <h2 class="post-title">
                CBE
              </h2>
              <h3 class="post-subtitle">
                Chemical and Biological Engineering
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="chm">
              <h2 class="post-title">
                CHM
              </h2>
              <h3 class="post-subtitle">
                Chemistry
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="cee">
              <h2 class="post-title">
                CEE
              </h2>
              <h3 class="post-subtitle">
                Civil and Environmental Engineering
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="cla">
              <h2 class="post-title">
                CLA
              </h2>
              <h3 class="post-subtitle">
                Classics
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="com">
              <h2 class="post-title">
                COM
              </h2>
              <h3 class="post-subtitle">
                Comparative Literature
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="cos">
              <h2 class="post-title">
                COS
              </h2>
              <h3 class="post-subtitle">
                Computer Science, A.B. and B.S.E
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="eas">
              <h2 class="post-title">
                EAS
              </h2>
              <h3 class="post-subtitle">
                East Asian Studies
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="eeb">
              <h2 class="post-title">
                EEB
              </h2>
              <h3 class="post-subtitle">
                Ecology and Evolutionary Biology
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="eco">
              <h2 class="post-title">
                ECO
              </h2>
              <h3 class="post-subtitle">
                Economics
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="ele">
              <h2 class="post-title">
                ELE
              </h2>
              <h3 class="post-subtitle">
                Electrical Engineering
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="eng">
              <h2 class="post-title">
                ENG
              </h2>
              <h3 class="post-subtitle">
                English
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="fit">
              <h2 class="post-title">
                FRE/ITA
              </h2>
              <h3 class="post-subtitle">
                French and Italian
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="geo">
              <h2 class="post-title">
                GEO
              </h2>
              <h3 class="post-subtitle">
                Geosciences
              </h3>
            </a>
          </div>
          <hr>


          <div class="post-preview">
            <a href="ger">
              <h2 class="post-title">
                GER
              </h2>
              <h3 class="post-subtitle">
                German
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="his">
              <h2 class="post-title">
                HIS
              </h2>
              <h3 class="post-subtitle">
                History
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="mat">
              <h2 class="post-title">
                MAT
              </h2>
              <h3 class="post-subtitle">
                Mathematics
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="mae">
              <h2 class="post-title">
                MAE
              </h2>
              <h3 class="post-subtitle">
                Mechanical and Aerospace Engineering
              </h3>
            </a>
          </div>
          <hr>


          <div class="post-preview">
            <a href="mol">
              <h2 class="post-title">
                MOL
              </h2>
              <h3 class="post-subtitle">
                Molecular Biology
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="mus">
              <h2 class="post-title">
                MUS
              </h2>
              <h3 class="post-subtitle">
                Music
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="nes">
              <h2 class="post-title">
                NES
              </h2>
              <h3 class="post-subtitle">
                Near Eastern Studies
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="neu">
              <h2 class="post-title">
                NEU
              </h2>
              <h3 class="post-subtitle">
                Neuroscience
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="orf">
              <h2 class="post-title">
                ORF
              </h2>
              <h3 class="post-subtitle">
                Operations Research and Financial Engineering 
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="phi">
              <h2 class="post-title">
                PHI
              </h2>
              <h3 class="post-subtitle">
                Philosophy
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="phy">
              <h2 class="post-title">
                PHY
              </h2>
              <h3 class="post-subtitle">
                Physics
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="pol">
              <h2 class="post-title">
                POL
              </h2>
              <h3 class="post-subtitle">
                Politics
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="psy">
              <h2 class="post-title">
                PSY
              </h2>
              <h3 class="post-subtitle">
                Psychology
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="rel">
              <h2 class="post-title">
                REL
              </h2>
              <h3 class="post-subtitle">
                Religion
              </h3>
            </a>
          </div>
          <hr>


          <div class="post-preview">
            <a href="sla">
              <h2 class="post-title">
                SLA
              </h2>
              <h3 class="post-subtitle">
                Slavic Languages and Literatures
              </h3>
            </a>
          </div>
          <hr>


          <div class="post-preview">
            <a href="soc">
              <h2 class="post-title">
                SOC
              </h2>
              <h3 class="post-subtitle">
                Sociology
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="spa">
              <h2 class="post-title">
                SPA/POR
              </h2>
              <h3 class="post-subtitle">
                Spanish and Portuguese
              </h3>
            </a>
          </div>
          <hr>

          <div class="post-preview">
            <a href="wws">
              <h2 class="post-title">
                WWS
              </h2>
              <h3 class="post-subtitle">
                Woodrow Wilson School of Public and International Affairs
              </h3>
            </a>
          </div>
          <hr>

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Surprise Me! &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Plan Princeton 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
