<!DOCTYPE html>
<html lang="en">

      <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Plan Princeton</title>

        <!-- Bootstrap core CSS -->
        {% load static %}
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        {% load static %}
        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        {% load static %}
        <link href="{% static 'css/schedule.css' %}" rel="stylesheet"> 

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
          $('.continue').click(function(){
            var nextId = $(this).parents('.tab-pane').next().attr("id");
            $('[href=#'+nextId+']').tab('show');
          })
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

        <script type="text/javascript">

        // <script>

          function dragstart_handler(ev) {
            // console.log("dragStart");
            // Add the target element's id to the data transfer object
            ev.dataTransfer.setData("text/plain", ev.target.id);
          }

          function dragover_handler(ev) {
            ev.preventDefault();
            // Set the dropEffect to move
            ev.dataTransfer.dropEffect = "move"
          }

          function drop_handler(ev) {
            ev.preventDefault();
            // Get the id of the target and add the moved element to the target's DOM
            var data = ev.dataTransfer.getData("text");
            var term = ev.target.id;
            var course = document.getElementById(data);
            console.log(course);
            // console.log(course.id);
            ev.target.appendChild(course);
            dropped_course(course.id, term);
          }

            function openPlan(evt, name) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                   tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                   tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(name).style.display = "block";
                evt.currentTarget.className += "active";
             } 

             function createOption(ddl, text) {
                var select = document.getElementById(ddl);
                console.log(ddl);
                if (select != null) {
                  var length = select.options.length;
                  console.log(length);
                  for (i = 0; i < length; i++) {
                    select.remove(i);
                  }
                }
                var opt = document.createElement('option');
                opt.text = text;
                ddl.options.add(opt);
                console.log("createOption");
             }

              function configureDegreeLists(ddl1, ddl2, concs) {
                console.log("ONE configureDegreeLists");
                var select = ['Select Concentration'];
                console.log(concs);
                for (i = 0; i < concs.length; i++) {
                  createOption(ddl2, concs[i])
                }
                console.log("configureDegreeLists");
              }

              function configureRequirements(concreqs, degreereqs) {
                document.getElementById("deg_reqs").innerHTML = req_html(degreereqs)
                document.getElementById("maj_reqs").innerHTML = req_html(concreqs)                
              }

              function req_html(reqs) {
                html = ""
                // iterate through the requirements array RECURSIVELY??
                html += "<ol>"
                for(var i = 0; i < reqs.length; i++){
                  
                  if (typeof reqs[i] === "string") {
                    html += "<li>" + reqs[i] + "</li>";
                  }
                  else {
                    html += "<ol>";
                    for (var j = 0; j < reqs[i].length; j++){
                      
                      if (typeof reqs[i][j] == "string") {
                        html += "<li>" + reqs[i][j] + "</li>";
                      }
                      else {
                        html += "<ol>";
                        for (var k = 0; k < reqs[i][j].length; k++) {  
                          if (typeof reqs[i][j][k] == "string") {
                            html += "<li>" + reqs[i][j][k] + "</li>";
                          }
                          else {
                            html += "<ol>";
                            for (var l = 0; l < reqs[i][j][k].length; l++) {                              
                              html += "<li>" + reqs[i][j][k][l] + "</li>";
                            }
                            html += "</ol>";
                          }
                        }
                        html += "</ol>";
                      }
                    }
                    html += "</ol>";
                  }
                }
                html += "</ol>";
                return html;
              }

              function onSelectConcentration(ddl2) {
                console.log("CONC 1");
                var conc = ddl2.options[ddl2.selectedIndex].value; 
                // var deg = ddl1.value; // check this reference
                console.log("Conc before ajax");
                $.ajax({
                        url: '/home/ajax/choose_conc/', // HEROKU LINK TO DATABASE
                        data: {
                          'conc': conc, // 3 letter CONC... comma or nah
                          // 'd' : deg // degree
                        },
                        dataType: 'json',
                        // send back reqlist
                        success: function (data) { // backend sends fields of data prob JSON/dict 
                          // process json data 
                          // can prob take the next if statement out
                          // console.log($(this).val());

                          console.log(data.concreqs);
                          configureRequirements(data.concreqs, data.degreereqs)
                          /*
                          if (data.is_taken) {
                            alert("A user with this username already exists.");
                          }
                          */
                        }
                      });
              }

              function onSelectDegree(ddl1, ddl2) {
                    var deg = ddl1.value; // check this reference
                    console.log("START SelectDegree");
                    $.ajax({
                            url: '/home/ajax/choose_deg/', // HEROKU LINK TO DATABASE
                            data: {
                              'deg' : deg
                            },
                            dataType: 'json',
                            success: function(data) {
                              console.log("SelectDegree");
                              // unhide concentration bar
                              // populate the concentration bar
                              // configureDegreeLists(ddl1, ddl2, data.concs)
                              configureDegreeLists(ddl1, ddl2, data.concs)

                            }
                    });
              }

             function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
             }

             function filterFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                   if (li[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                      li[i].style.display = "";
                   } 
                   else {
                      li[i].style.display = "none";
                   }
                }
             }

             $(document).ready(function() {
              $(".fa-times").click(function () {

              })
             })
        /*     function show_course_info(ev) {
              var id = ev.target.id;
              alert("{{key}}");
              if (tag.style.display === "none") {
                tag.style.display = "table";
              }
              else {
                tag.style.display = "none";
              }
             }

            $(document).ready(function() {
              $("#btn1").click(function() {
                  $("h3").toggle();
                  $("h4").toggle()
              });
            });
            */

            function remove_course(ev) {
              console.log("remove_course");
              var id = (this)[0].id;
              $.ajax({
                  url: '/home/ajax/remove_course/', // HEROKU LINK TO DATABASE
                  data: {
                    'id' : id
                  },
                  dataType: 'json',
                  success: function(data) {
                    dropped_course(id, data.reqs) // ???????
                    configureRequirements(data.concreqs, data.degreereqs)
                  }
                });
              for (var i = 0; i < id.length; i++) {
                id.delete(i);
              }
            }

            function dropped_course(id, term) {
                console.log(id);
                console.log(term);
                  $.ajax({
                    url: '/home/ajax/dropped_course/', // HEROKU LINK TO DATABASE
                    data: {
                      'id' : id,
                      'term': term
                      // console.log("dropped id")
                    },
                    dataType: 'json',
                    // console.log("dropped json")
                    success: function(data) {
                      configureRequirements(data.concreqs, data.degreereqs)
                      //console.log("dropped SUCCESS")
                    }
                  });
                console.log("dropped END");

                }

               /* function displayRemoves() {
                  $(".dragCourse").click(function() {
                    $(".fa-times").toggle();
                  })
                }*/
       </script>

    </head>  

   <body>
        <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/home" target="_blank">Plan Princeton</a>
            </div>
      </nav> 

      <!--Top Navigation Tabs -->
      <div class="container">
        <ul class="nav nav-pills">
          <li class="active list">
            <a href="#plan1" data-toggle="tab">My Plan</a>
          </li>
        </ul>
      </div>

      <div class="tabcontent">
        <div class="tab-pane" id="plan1">
         <!-- Drag and Drop  Menu for Concentration and Certificates-->
         <div class="selectDegree">
            <select id="ddl1" onchange="onSelectDegree(this, document.getElementById('ddl2'))">               
              <option value="select">Select Degree:</option>
              <option value="ab">A.B.</option>
              <option value="bse">B.S.E.</option>
            </select>                
            
            <select id="ddl2" onchange="onSelectConcentration(this);"> 
              <option> Select Concentration: </option>
            </select>
          </div>
        </div>      
      
         <!--Search Courses-->
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Start searching for courses!</button>
            <div id="myDropdown" class="dropdown-content">
               <input type="text" placeholder="Search courses..." id="myInput" onkeyup="filterFunction()"> 
               <ul id="myUL" class="dropdown-courses">

                {% for key, value in courses.items %}
                  <li id="{{key}}" class="dragCourse" draggable="true" ondragstart="dragstart_handler(event)"> {{value.coursename}} 
                      <button id="{{key}}" class="fa fa-times" onclick="remove_course(event)"></button>
                    <button class="fa fa-caret-down"></button>
                  </li>         
                {% endfor %}

               </ul>              
            </div>
        </div>

         <!--Remaining requirements-->
         <div class="requirements">
            <h2>Major <br/> Requirements</h2>
            <div id="maj_reqs">  
              <br/>            
            </div>  

            <h2>Degree <br/> Requirements</h2>
            <div id="deg_reqs">
              <br/>
            </div>
         </div>

         <!--Schedule-->

         <div id="fall18" ondrop="drop_handler(event)" ondragover="dragover_handler(event)" class="schedule">
            <h1>Freshman Fall 2018</h1>
            <ul>
              {% for key, value in fall18.items %}
                <li id="{{key}}" class="dragCourse" draggable="true" ondragstart="dragstart_handler(event)"> {{ value.coursename }} 
                <button id="{{key}}"class="fa fa-times" onclick="remove_course(event)"></button>
                <button class="fa fa-caret-down"></button>
                </li>
              {% endfor %}
            </ul>
         </div>
         
         <div id="spring19" ondrop="drop_handler(event)" ondragover="dragover_handler(event)" class="schedule">
            <h1>Freshman Spring 2019</h1>
            <ul>
              {% for key, value in spring19.items %}
                <li id="{{key}}" class="dragCourse" draggable="true" ondragstart="dragstart_handler(event)"> {{ value.coursename }} 
                <button id="{{key}}"class="fa fa-times" onclick="remove_course(event)"></button>
                <button class="fa fa-caret-down"></button>
                </li>
              {% endfor %}
            </ul>
         </div>
         
         <div id="fall19" ondrop="drop_handler(event)" ondragover="dragover_handler(event);" class="schedule">
            <h1>Sophomore Fall 2019</h1>
            <ul>
              {% for key, value in fall19.items %}
                <li id="{{key}}" class="dragCourse" draggable="true" ondragstart="dragstart_handler(event)"> {{ value.coursename }} 
                <button id="{{key}}" class="fa fa-times" onclick="remove_course(event)"></button>
                <button class="fa fa-caret-down"></button>
                </li>
              {% endfor %}
            </ul>
         </div>
         
         <div id="spring20"ondrop="drop_handler(event)" ondragover="dragover_handler(event)" class="schedule">
            <h1>Sophomore Spring 2020</h1>
            <ul>
              {% for key, value in spring20.items %}
                <li id="{{key}}" class="dragCourse" draggable="true" ondragstart="dragstart_handler(event)"> {{ value.coursename }} 
                <button id="{{key}}" class="fa fa-times" onclick="remove_course(event)"></button>
                <button id="{{key}}" class="fa fa-caret-down" onclick="show_course_info(event)"></button>
                </li>
              {% endfor %}
            </ul>
         </div>

   </body>
</html>


