beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.0.4
django-cas-ng==3.5.9
django-heroku==0.3.1
django-reset-migrations==0.3.1
gunicorn==19.7.1
idna==2.6
oauthlib==2.0.7
psycopg2==2.7.4
psycopg2-binary==2.7.4
PyJWT==1.6.1
python-cas==1.2.0
python-social-auth==0.2.21
python3-openid==3.1.0
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
django_cas_ng==3.5.9
